*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet


# Editor backup
.*.swp
.*.kate-swp
*~
*.tmp

# Idea and sbt artifacts
/.ensime*
/.idea
/.idea_modules
/target
/project/project
/project/target
**/target/

# Python
*.pyc
__pycache__

/*.log
